<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Welcome, Thor, God of Thunder</h1>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.hellogiggles.com%2Fuploads%2F2016%2F05%2F21074112%2Fthor-pic.jpg&f=1&nofb=1" alt="Thor">
  <a href="/api">API</a>
</body>
</html>